{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Lionel Picard</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="mynav">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{{ path('page1_index') }}"><i class="fa fa-file-text icon" aria-hidden="true"></i>Page 1</a></li>
                        <li><a href="{{ path('page2_index') }}"><i class="fa fa-file-text icon" aria-hidden="true"></i>Page 2</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock %}

    <div class="container">
    <h1>Index</h1>

        <!----------------------------------- BOOK TEST ------------------------------------------------------>

    <br/>
        <!--<object class="center-block" data="{{ asset('bundles/pdf/img/php5.pdf') }}" type="application/pdf" width="700px" height="700px"><a href="http://yoursite.com/the.pdf">Download PDF</a></object>-->

    <iframe class="center-block" src="{{ asset('bundles/pdf/img/php5.pdf') }}" width="100%" height="750"></iframe>
        <hr/>

        <!----------------------------------- BOOK TEST ------------------------------------------------------>

    <iframe class="book" src="//v.calameo.com/library/?type=theme&id=automobiles&rows=3&sortBy=latestPublished&theme=stone&bgColor=&thumbSize=normal&showTitle=true&showShadow=true&showGloss=true&showInfo=account&linkTo=embed" width="100%" height="555" frameborder="0" allowfullscreen allowtransparency></iframe>

        <hr/>
        <!----------------------------------- BOOK TEST ------------------------------------------------------>

        <div style="text-align:center;">
            <div style="margin:8px 0px 4px;">
            </div>
            <iframe src="//v.calameo.com/?bkcode=005015119dfd9fd409e45" width="100%" height="750" frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe>
            <div style="margin:4px 0px 8px;">
            </div>
        </div>
        <div>
            <button><a href="{{ asset('bundles/pdf/img/dojo.pdf') }}">Download PDF</a></button>
        </div>

        <!----------------------------------- BOOK TEST ------------------------------------------------------>

    <table>
        <thead>
            <tr>
                <!--<th>Id</th>
                <th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
        {% for page1 in page1s %}
            <tr>
                <td><a href="{{ path('page1_show', { 'id': page1.id }) }}">{{ page1.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('page1_show', { 'id': page1.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('page1_edit', { 'id': page1.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="point">
        <li>
            <a href="{{ path('page1_new') }}">Create a new page1</a>
        </li>
    </ul>
        </div>
{% endblock %}
